<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootcamps</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/assets/css/blk-design-system.css" rel="stylesheet" />
    <style>
    .myimg {
      /* float: left; */
      width: 200px;
      height: 150px;
      object-fit: cover;
    }
  </style>
</head>

<body class="profile-page">
<div class="page-header header-filter">
    <div class="content-center brand align-items-center">
        <h1 class="text-white ">BOOTCAMPS<img src="/assets/images/cp.png" alt="feather" width="30" class="image"></h1>
        <a href="#bootcamprules" class="btn btn-simple btn-primary btn-round">Bootcamp Guidelines</a>
        <a href="" class="btn btn-simple btn-primary btn-round">New Bootcamp Request</a>
    </div>
</div>

<div class="section section-tabs">
    <div class="container">

        <div class="row">
            <div class="col-md-10 ml-auto col-xl-12 mr-auto">

                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                            <li class="nav-item">
                                <a href="#link1" class="nav-link active show" data-toggle="tab" role="tablist">
                                    <i class="tim-icons icon-spaceship"></i> Programming Bootcamps
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#link3" class="nav-link" data-toggle="tab" role="tablist">
                                    <i class="tim-icons icon-bag-16"></i> Non Programming Bootcamps
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content tab-space">
                            <div class="tab-pane active show" id="link1">
                                <a href="#funcoding" class="btn btn-simple btn-primary btn-round">Funcoding</a>
                                <a href="#d1" class="btn btn-simple btn-primary btn-round">LeanIn</a>
                            </div>
                            <div class="tab-pane" id="link3">
                                <a href="#d2" class="btn btn-simple btn-primary btn-round">XYZ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="page-header" id="ONE">
        <img src="/assets/images/dots.png" class="dots">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto" id="funcoding">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="../assets/images/funcoding.jpeg" class="img-center img-fluid ">
                            <h4 class="title">FUNCODING</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="btn btn-simple btn-primary btn-round" data-toggle="tab" href="#linka1">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#coord1" class="btn btn-simple btn-primary btn-round" data-toggle="tab">Coordinators</a>
                                </li>
                            </ul>
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane" id="coord1">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table">
                                            <thead class=" text-primary">
                                            <tr>
                                                <th class="header">
                                                    NAME
                                                </th>

                                                <th class="header">
                                                    Email
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    KushalVardhan Pulamarasetti
                                                </td>
                                                <td>
                                                    s180177@rguktsklm.ac.in
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Kranthi Guribilli
                                                </td>
                                                <td>
                                                    s180802@rguktsklm.ac.in
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Venkatesh Varikuti
                                                </td>
                                                <td>
                                                    s180323@rguktsklm.ac.in
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="linka1">
                                    <p class="text-white">
                                        Funcoding is the first bootcamp that has been conducted behalf of Codewizards which aims at providing a good start to the coding journey of the students here. We aim to develop a healthy coding culture at IIIT Srikakulam with a fun-paced learning.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="btn-wrapper profile pt-1">
                            <a target="_blank" href="https://www.github.com/codewizards/funcoding" class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Follow us">
                                <i class="fab fa-github"></i>
                            </a>
                            <a target="_blank" th:href="@{/public/viewStudents(id=1)}" class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Members">
                                <i class="fab fa-users"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 ml-auto mr-auto" id="d1">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/images/campus_logo.jpg" class="img-center img-fluid ">
                            <h4 class="title">LeanIn</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="btn btn-simple btn-primary btn-round" data-toggle="tab" href="#linkali">
                                        About
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#linkbli" class="btn btn-simple btn-primary btn-round" data-toggle="tab">Coordinators</a>
                                </li>
                            </ul>
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane" id="linkbli">
                                    <div class="table-responsive">
                                        <table class="table tablesorter " id="plain -table">
                                            <thead class=" text-primary">
                                            <tr>
                                                <th class="header">
                                                    NAME
                                                </th>

                                                <th class="header">
                                                    Email
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr>
                                                <td>
                                                    Satya
                                                </td>
                                                <td>
                                                    s180xxx@rguktsklm.ac.in
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Jahnvi
                                                </td>
                                                <td>
                                                    s180xxx@rguktsklm.ac.in
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Ishika
                                                </td>
                                                <td>
                                                    s180xxx@rguktsklm.ac.in
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="linkali">

                                    <p class="text-white">
                                        Lean In IIITSKLM is an initiative motivated by the personal experiences of our core team of female
                                        leaders. We hope to establish a community that brings forth opportunities, not only for women but
                                        for the entire IIIT SKLM family. A community that <span id="dotslin">...</span><span id="morelin"
                                                                                                                         style="display: none"> “leans in” to support each other by sharing stories
                        of success and failures with the hope to inspire others. We wish to provide students with
                        mentorship and a space for their holistic growth in tech and non-tech domains.

                        Lean In IIIT SKLM currently has six circles: Programming for Placements, Machine Learning, Open
                        Source, Design, Creative Writing, and Public Speaking, with over 160 mentees and 25 mentors!
                        Along
                        with this we also frequently organise panel sessions, invited talks and hackathons. Our
                        circles and sessions are open to all IIIT SKLM students!</span>
                                        <button class="btn btn-success btn-link btn-sm" onclick="myFunctionlin()" id="myBtnlin">Read
                                            more</button>

                                    </p>
                                    <script>
                      function myFunctionlin() {
                        var dots = document.getElementById("dotslin");
                        var moreText = document.getElementById("morelin");
                        var btnText = document.getElementById("myBtnlin");

                        if (dots.style.display === "none") {
                          dots.style.display = "inline";
                          btnText.innerHTML = "Read more";
                          moreText.style.display = "none";
                        } else {
                          dots.style.display = "none";
                          btnText.innerHTML = "Read less";
                          moreText.style.display = "inline";
                        }
                      }
                    </script>
                                </div>

                            </div>
                        </div>
                        <div class="btn-wrapper profile pt-1">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a target="_blank" href="https://www.instagram.com/leanin_iiitsklm/"
                               class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Follow us">
                                <i class="fab fa-instagram"></i>
                            </a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content-center" id="bootcamprules">
    <div class="row row-grid justify-content-between align-items-center ">
        <div class="row">
            <h1 class="text-white" style="margin-left: 5%;">Bootcamp Guidelines
            </h1>

            <ul style="margin: 3%;">
                <li>
                    <h4>
                        At least 15 active members and 3 co-ordinators are required for any bootcamp to exist. The 3 co-ordinators
                        can be a part of the 15 active members.
                    </h4>
                </li>
                <li>
                    <h4>
                        There must be atleast an activity per week.

                    </h4>
                </li>
                <li>
                    <h4>
                        The internal website of the club should be regularly updated. It shall, at least, have an updated list
                        of bootcamp members, events list, budget details and contact details of co-ordinators.
                    </h4>
                </li>
                <li>
                    <h4>

                        If any bootcamp has a requirement of a visiting instructor, there must be at least 15 interested students
                        who will benefit from it.

                    </h4>
                </li>
                <li>
                    <h4>
                        The tentative annual budget should be provided to the Student Council (when the new session starts). The
                        budget can be ZERO depending on the nature of the group. The club must give a justification for the
                        usage of money, and a strong justification must be provided if the requirement is more than Rs. 1000.
                        The detailed breakdown of the budget (in terms of events, inventory, etc.) should be provided as well.
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- footer.html block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer.html block -->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
<!--   Core JS Files   -->
<script src="../assets/js/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap-1.min.js" type="text/javascript"></script>
<script src="../assets/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/nouislider.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="../assets/js/chartjs.min.js"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="../assets/js/moment.min.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>
<!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/blk-design-system.min.js" type="text/javascript"></script>
</body>
</html>