<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FUNCODING</title>
<!-- Google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<!-- Template CSS Style link -->
<link rel="stylesheet" href="/assets/css/style-starter.css">
</head>
<body>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

</br></br></br></br></br></br>

</body>
</html>