<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeWizards - Together, we create magic</title>
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<style>
*{
box-sizing:border-box;
}
.column{
float:left;
width: 50%;
padding: 5px;
}
.container::after{
content: "";
clear:both;
display:table;
}
.text{
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    text-align: justify;
    background-image: url(assets/images/about-shape.png);
    background-repeat: repeat;
    background-position: center center;
}
.abt{
    font-size: 15px;
    opacity: 1;
    line-height: 1;
    color: black;
    z-index: -1;
    font-weight: 700;
}
.image{
  position: absolute;
  left: 4;
  top: 7px;
}
</style>

<body>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

</br></br></br></br></br></br>
<!-- About-->
<div class="container">
    <div class="column">
     <div class="text">
         <h2>About<img src="assets/images/cp.png" alt="feather" width="30" class="image"></h2>
        <p class="abt">Together, we create magic...</br>
            Under development :)</br>
            <a href="/about" class="cws-button bt-color-3 border-radius alt icon-right float-right">Read More <i class="fas fa-chevron-right"></i></a>
        </p>
        </div>
    </div>
    <div class="column">
        <img src="assets/images/hero-image.png">
    </div>
</div>

<!-- //About-->



<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- /counter-->
<script src="assets/js/counter.js"></script>
<!-- //counter-->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- footer.html block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer.html block -->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->


 </body>
</html>