<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeWizards - Together, we create magic</title>
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
    <style>img {
    overflow-clip-margin: content-box;
    overflow: clip;
}</style>
</head>
<body>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

</br></br></br></br></br></br>
<!-- start-->
<div id="courses" class="sc-kSGOQU krsrDL">
    <div class="sc-dPWrhe dwHhrR">Courses</div>

    <div class="sc-jsTgWu goMsHa">
        <div class="sc-caPbAK irOJEl">
            <div class="sc-hjjlnc hepOyi">
                <div class="sc-iFoMEM Issrn">
                    <div class="sc-gUJyNl jUGZSL">Level</div>
                    <img src="assets/images/level1.png" alt="level-1" class="sc-iqPaeV ldXJRR"></div>
            </div>
            <div class="sc-gkSfol exlowr">Level 1 is for complete beginners, and is intended to kickstart your CP journey. After completing Level 1, you will be proficient in the con<span class="sc-fmPOXC hLCJMN">...Know More</span>
            </div>
        </div>


        <div class="sc-caPbAK irOJEl">
            <div class="sc-hjjlnc hepOyi">
                <div class="sc-iFoMEM Issrn">
                    <div class="sc-gUJyNl jUGZSL">Level</div>
                    <img src="assets/images/l2.png" alt="level-2" class="sc-iqPaeV ldXJRR"></div>
            </div>
            <div class="sc-gkSfol exlowr">Level 2 is for complete beginners, and is intended to kickstart your CP journey. After completing Level 1, you will be proficient in the con
            </div>
        </div>


        <div class="sc-caPbAK irOJEl">
            <div class="sc-hjjlnc hepOyi">
                <div class="sc-iFoMEM Issrn">
                    <div class="sc-gUJyNl jUGZSL">Level</div>
                    <img src="assets/images/l3.png" alt="level-3" width="132" height="84" class="sc-iqPaeV ldXJRR"></div>
            </div>
            <div class="sc-gkSfol exlowr">Level 3 is for people who can usually solve Div2As in a Codeforces Round, and have a good grip over C++. We will brush up a bit of STL and then go through topics such as Recursion, Backtracking, Prefix Sums, Difference Arrays, Bit Manipulation, Advanced Binary Search, Greedy Algorithms, Number Theory etc.
            </div>
        </div>
    </div>
</div>

<!-- //start-->

<!-- level-1-->
<!--<div class="gJjLEr">
    <div class="k5">
        <div class="gUApXW">Level 1 Course</div>
        <div class="cFWxdM">This level is for complete beginners and is intended to get your Competitive Programming journey kick-started from absolute scratch. After completing Level 1, you will have a deep understanding of C++ programming language, Time and Space Complexity, Recursion, Binary Search, Bitwise Operators, Brute Force techniques, Mathematical Concepts, and beginner-level problem-solving techniques. </div>
    </div>
    <div class="hKkWPI"><img src="/assets/images/level1.png" alt="public-course-hero" class="fEJxkY">
    </div>
</div>-->
<div class="container">
    <div class="column">
        <div class="text">
            <h2>Level1 Course<img src="assets/images/cp.png" alt="feather" width="30" class="image"></h2>
            <p class="abt">This level is for complete beginners and is intended to get your Competitive Programming journey kick-started from absolute scratch. After completing Level 1, you will have a deep understanding of C++ programming language, Time and Space Complexity, Recursion, Binary Search, Bitwise Operators, Brute Force techniques, Mathematical Concepts, and beginner-level problem-solving techniques.
        <a href="/about" class="cws-button bt-color-3 border-radius alt icon-right float-right">Read More <i class="fas fa-chevron-right"></i></a>
            </p>
        </div>
    </div>
    <div class="column">
        <img src="assets/images/level1.png" size="300">
    </div>
</div>

<!-- //level1-->


<!--Features-->
<div class="BcsTx">
    <div class="DiTML">
        <div class="gbBVyF">
            <div class="k1">Pre-Requisites</div>
            <ol class="k2">
                <li class="jtHmYL">
                Basic math concepts such as arithmetic operators, primes, divisors, multiples, linear equations.</li>
                <li class="jtHmYL">Should be able to spend 2 hours daily in the course.</li>
                <li class="tHmYL">A will to learn and work hard.</li>
            </ol>
        </div>
</div>

<div class="k3">
    <div class="ehfASM">
        <div class="bwrPbB">Features</div>
        <ol class="eFNqwY">
            <li class="jtHmYL">Weekly Live Code Classes</li>
            <li class="jtHmYL">Daily Curated Practice Problems</li>
            <li class="jtHmYL">24*7 on chat Doubt Support</li>
            <li class="jtHmYL">Daily Doubt Resolution Sessions</li>
            <li class="jtHmYL">Progress Tracking on website</li>
            <li class="jtHmYL">Course Completion Certificate</li>
            <li class="jtHmYL">Networking with high-rated coders</li>
        </ol>
    </div>
  </div>
</div>
<!-- //Features-->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- /counter-->
<script src="assets/js/counter.js"></script>
<!-- //counter-->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- footer.html block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer.html block -->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>
</html>