<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy</title>
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>
<body>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">LogIn</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Privacy</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

</br></br></br></br></br></br>
<div class="Ppolicy">
    <h2 style="font-weight: 800; font-size: 50px;">Privacy Policy</h2>
    <img src="/assets/images/lines.png" alt="underline" width="100%">
</div>
<section class="YgccX">
<ol>
    <li>Privacy</li>
<p>TLE Eliminators does not claim ownership of any content, as stated through the company's tradeline "Creator's content is their own content, none of ours". Hence the creator retains all ownership rights, i.e, intellectual property rights and TLE Eliminators will not use any content without the permission and consent of the creator himself/herself.
</p>
    <li>Hate Speech Policy</li>
<p>TLE Eliminators is NOT a platform to promote hatred targeting an individual or group based on: Age, Caste, Disability, Ethnicity, Gender Identity and Expression, Nationality, Race, Immigration Status, Religion, Sex/Gender, Sexual Orientation, Victims of a major violent event and their kin, Veteran Status, etc. Any such content will be removed as soon as it is reported and necessary action will be taken as per requirement. Note that conflict of opinions are inevitable and therefore the point of view of every individual should be acknowledged accordingly.</p>
    <li>Plagiarism</li>
    <p>We expect the content to be original. If plagiarism is found, TLE Eliminators is not responsible.</p>
    <li>Age Restrictions</li>
<p>The restriction strictly adheres to the country's laws and regulations on obscene content as stated in the Indian Constitution according to section 67, provided below. Punishment for publishing or transmitting obscene material in electronic form: Whoever publishes or transmits or causes to be published or transmitted in the electronic form, any material which is lascivious or appeals to the prurient interest or if its effect is such as to tend to deprave and corrupt persons who are likely, having regard to all relevant circumstances, to read, see or hear the matter contained or embodied in it, shall be punished on first conviction with imprisonment of either description for a term which may extend to three years and with fine which may extend to five lakh rupees and in the event of second or subsequent conviction with imprisonment of either description for a term which may extend to five years and also with fine which may extend to ten lakh rupees.
</p>
    <li>Other Restrictions</li>
    <p>TLE Eliminators is an open platform where creators can monetize their content however users indulging in violent threats, committing violent crimes, malicious doxing, coordinating nonviolent harm (such as fraud, money laundering and gambling), or encouraging others to do any of these activities may be banned. Thus, any activities causing harm/damage are strictly prohibited and will be dealt with.</p>

    <li>Sensitive and Personal Data Collection</li>
<p>The following data is collected through our website: Contact information: Name, email, country and IP address may be required. Payment details: Billing name, billing address, and payment method may be collected for financial transactions. Note: Credit card information will not be collected through our website, however our online payment partner, Razorpay, will obtain and process the credit card details. Public information: All posts shared publicly through tle-eliminators.com may be used and collected. Additionally, information such as events you like, events you wish to attend may also be retrieved from the website and used. Cookies: Cookies will be collected from the user. Additional information: We may also collect the following details: IP address, The web browser you are surfing, Time spent on tle-eliminators.com, Type of mobile device used, The operating system of the device you are accessing tle-eliminators.com through.
</p>
    <li>Purpose of collection of such data</li>
<p>The data you provided may be used in the following ways: Contact purposes: Phone number and email address may be used to contact you for promotional purposes or to confirm a financial transaction. Transactional communication: Phone number and email address provided may be used to SMS or email about purchases and other transactions. Other purposes: Information collected may be used for other purposes than those mentioned however prior permission will be taken. Promotional Usage: Data collected may be used for promotional events on the TLE Eliminators platform. However, it is understood that paid posts will not be utilized for such purposes.
    </p>
    <li>Disclosure of information including sensitive personal data or information collected to a third party</li>
<p>We will not share any data provided by the user with a third party that includes services, business partners, event organizers, successors of the business as of now. Note that if required, however, the information will be shared with a third party after the acknowledgement of the provider/user.
    </p>
    <li>Jurisdiction</li>
<p>All visits are subjected to this privacy policy and the website's terms of use. Additionally, any disputes arising under this policy shall be governed by the laws of India.
    </p>
    <li>Data Retention for the account</li>
<p>In the case of deletion of account or inactivity for the period of 6 months, all data provided will be erased.
    </p>
    <li>Data Breach, data loss</li>
<p>TLE Eliminators tries to take every possible step to protect the user's data. In case of any data loss due to a data breach, TLE Eliminators is not liable to be charged or held responsible for the loss of data of any individual. We will do our best to stop such breach and minimize the loss. Note that the TLE Eliminators privacy policy is subjected to change. If any amendments are made, the users will be notified accordingly.
    </p>
</ol>
</section>
<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- /counter-->
<script src="assets/js/counter.js"></script>
<!-- //counter-->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- footer.html block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer.html block -->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->


</body>

</html>